

/* Tablet & Mobile */

@media (max-width: 63.9375em)
{

    .btn {
        padding: 16px 16px;
    }

    .form-control {
        padding: 15px;
    }
    #footer .footer-end a {
        margin: 0px 4px;
        font-size: 45px;
    }
    #footer .ww3 {
        padding: 16px 0;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-infor {
        line-height: 2;
    }
    .contact-form {
        padding-top: 32px !important;
    }
}

/* Mobile */

@media (max-width: 46.1875em) {
    #header {
        overflow: hidden;
    }
    #nav > li {
        display: block;
    }
    #nav .subnav a{
        background-color: #333;
        color: #fff;
        padding: 5px 40px;
    }
    #nav .subnav {
        position: initial;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #header .search-bt {
        display: none;
    }
    #nav {
        display: block;
    }
    #header .menu-mobile {
        display: block;
    }
    .s-col-full {
        width: 100%;
        padding-top: 16px;
    }
    #content .member-img {
        width: 60%;
    }
    .btn {
        width: 100%;
    }
    #content .member-name {
        padding-top: 16px;
    }
    .form-control {
        font-size: 17px;
    }
}